.page-footer {
    position: absolute;
    .list-unstyled {
        font-family: "Raleway", sans-serif;
        a {
            height: inherit;
            position: bottom;
            color: #4D4D4D;
            padding: 0 1.5vw 0px 1.5vw;
            font-size: 1.2vw;
        }
    }
}