<div class="main-border">
    <div class="main">
        <!-- About Me -->
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-7">
                    <div class="card-body">
                        <h1 class="card-title">About Me</h1>
                        <h3 class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Long paragraph about what I like/dislike and my school and aspirations and blah blah blah dfndjskv m knfsksjd fnskjd skdjf ksd f lsfj dfndjskv m knfsksjd fnskjd skdjf ksd f lsfj dfndjskv m knfsksjd fnskjd skdjf ksd dfndjskv m knfsksjd fnskjd skdjf ksd f lsfj f lsfj ddfndjskv m knfsksjd fnskjd skdjf ksd f lsfj fndjskv m knfsksjd fnskjd skdjf ksd f lsf</h3>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="../assets/about_main.jpg" class="card-img" alt="...">
                </div>
            </div>
        </div>

        <!-- More Interests -->
        <div class="container">
            <h1 class="card-title">More Interests</h1>
        </div>

        <!-- Animals -->
        <div class="container">
            <div class="separator"><h4>Animals</h4></div>
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="../assets/animals/daisy1.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/koala.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/duck.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/dog2.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3">
                    <img class="card-img" src="../assets/animals/puppies.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/emu.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/dog1.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/molly.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/bull.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3">
                    <img class="card-img" src="../assets/animals/bunny.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/horse.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/goat.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/bird.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3">
                    <img class="card-img" src="../assets/animals/daisy2.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/kitten.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/roo.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/dog3.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
