<div class="main-border">
    <section id="me"></section>
    <div class="main">
        <!-- About Me -->
        <div class="container">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-7">
                        <div class="card-body">
                            <h1 class="card-title">About Me</h1><br>
                            <h3 class="card-text">
                                I'm Julia, a recent Systems Design Engineering graduate at the University of Waterloo. Through my program, I took courses in interface and product design, HCI, human factors, and web computing. This cultivated and encouraged my interest in design and development.<br><br>
                                I previously interned at Zazzle, Providius, and ATS utilizing the software development and design skills I acquired throughout my degree.<br><br>
                                I am currently looking for fulltime Product Design or Frontend Development opportunities.<br><br>
                            </h3>
                            <a routerLink="/about" fragment="interests" style="text-decoration:none;">
                                <h4>Learn more about me</h4>
                                <i class="bi bi-arrow-down-short"></i>
                            </a>
                            <section id="interests"></section>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="../assets/about_main.jpg" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <!-- Animals -->
        <div class="container add">
            <h1 class="card-title">More Interests</h1>
            <div class="separator"><h4>Animals</h4></div>
            <div class="row">
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/animals/horse.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/daisy3.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/animals/molly3.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/roo.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/koala.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/animals/puppies.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/daisy2.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/animals/daisy1.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/animals/chicken.jpg" alt="Card image cap">
                </div>
            </div>
        </div>

        <!-- Sports -->
        <div class="container add">
            <div class="separator"><h4>Sports</h4></div>
            <div class="row">
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/sports/wakeboard2.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/sports/snowboard2.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/sports/surf1.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/sports/vball1.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/sports/snowboard1.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/sports/hockey3.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/sports/beach1.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/sports/vball2.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/sports/beach3.jpeg" alt="Card image cap">
                    <img class="card-img" src="../assets/sports/hockey2.png" alt="Card image cap">
                </div>
            </div>
        </div>

        <!-- Travel -->
        <div class="container add">
            <div class="separator"><h4>Travel</h4></div>
            <div class="row">
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/travel/australia1.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/travel/cali4.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/travel/europe1.jpeg" alt="Card image cap">
                </div>
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/travel/europe2.jpeg" alt="Card image cap">
                    <img class="card-img" src="../assets/travel/cuba2.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/travel/cali2.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/travel/bryce1.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/travel/cali5.jpg" alt="Card image cap">
                </div>
                <div class="col-md-3 flex-gap">
                    <img class="card-img" src="../assets/travel/zion1.jpg" alt="Card image cap">
                    <img class="card-img" src="../assets/travel/cuba1.jpg" alt="Card image cap">
                </div>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</div>
