<div class="main-border">
    <div class="main">
        <span class="middle">
            <h1>Hi, I'm Julia!</h1>
            <h2>I’m passionate about <b>product design</b> and <b>frontend development.</b><br>
                I love seeing my designs come to life.
            </h2>
            <a href="/home" style="text-decoration:none;">
                <h4>Check out my portfolio</h4>
                <i class="bi bi-arrow-down-short"></i>
            </a>
        </span>

        <!-- CASTRA -->
        <div class="card mb-6 mt-6">
            <div class="separator"><h4>Capstone Project</h4></div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="../assets/castra_main.png" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h1 class="card-title">CASTRA</h1>
                        <h3 class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h3>
                        <a href="/home" style="text-decoration:none;">
                            <i class="bi bi-arrow-right-short"></i>
                            <h4 class="card-text">Check it out</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Plant Doctor -->
        <div class="card mb-6">
            <div class="separator"><h4>Design Project</h4></div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="../assets/plant_doctor_main.png" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h1 class="card-title">Plant Doctor</h1>
                        <h3 class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h3>
                        <!-- <a href="/home" style="text-decoration:none;">
                            <i class="bi bi-arrow-right-short"></i>
                            <h4 class="card-text">Check it out</h4>
                        </a> -->
                        <h4>Coming Soon!</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Peeps -->
        <div class="card mb-6">
            <div class="separator"><h4>Design Project</h4></div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="../assets/peeps_main.png" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h1 class="card-title">Peeps</h1>
                        <h3 class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h3>
                        <!-- <a href="/home">
                            <i class="bi bi-arrow-right-short"></i>
                            <h4 class="card-text">Check it out</h4>
                        </a> -->
                        <h4>Coming Soon!</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</div>

