<div class="main-border">
    <div class="main">
        <span class="middle">
            <h1>Hi, I'm Julia!</h1>
            <h2>I’m passionate about <b>product design</b> and <b>frontend development.</b><br>
                I love seeing my designs come to life.
            </h2>
            <a routerLink="/home" fragment="projects" style="text-decoration:none;">
                <h4>Check out my portfolio</h4>
                <i class="bi bi-arrow-down-short"></i>
            </a>
            <section id="projects"></section>
        </span>

        <!-- CASTRA -->
        <div class="card mb-6 mt-6">
            <div class="separator"><h4>Capstone Project</h4></div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="../assets/castra_main.png" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h1 class="card-title">CASTRA</h1>
                        <h3 class="card-text">A web application that optimizes and digitizes the background performer casting process.</h3>
                        <a target="_blank" href="https://www.figma.com/proto/AGXT9mkz6s8QWKzwY7UPD8/Portfolio?page-id=315%3A2&node-id=315%3A3&viewport=241%2C48%2C0.18&scaling=scale-down-width&starting-point-node-id=315%3A3" style="text-decoration:none;">
                            <i class="bi bi-arrow-right-short"></i>
                            <h4 class="card-text">Check it out</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Plant Doctor -->
        <div class="card mb-6">
            <div class="separator"><h4>HCI Project</h4></div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="../assets/plant_doctor_main.png" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h1 class="card-title">Plant Doctor</h1>
                        <h3 class="card-text">A mobile application that tracks the health of and diagnoses issues with user's houseplants.</h3>
                        <a target="_blank" href="https://www.figma.com/proto/AGXT9mkz6s8QWKzwY7UPD8/Portfolio?page-id=315%3A2&node-id=330%3A111&viewport=241%2C48%2C0.18&scaling=scale-down-width&starting-point-node-id=330%3A111" style="text-decoration:none;">
                            <i class="bi bi-arrow-right-short"></i>
                            <h4 class="card-text">Check it out</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Peeps -->
        <div class="card mb-6">
            <div class="separator"><h4>Interface Design Project</h4></div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="../assets/peeps_main.png" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h1 class="card-title">Peeps</h1>
                        <h3 class="card-text">A mobile application that helps new residents in a city meet others in their area based on similar interests and goals.</h3>
                        <a target="_blank" href="https://www.figma.com/proto/AGXT9mkz6s8QWKzwY7UPD8/Portfolio?page-id=315%3A2&node-id=330%3A116&viewport=241%2C48%2C0.18&scaling=scale-down-width&starting-point-node-id=330%3A116" style="text-decoration:none;">
                            <i class="bi bi-arrow-right-short"></i>
                            <h4 class="card-text">Check it out</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</div>

